<div class="container-fluid m-0 p-0">
    <div class="container-fluid background">
        <div class="row">
            <h1 class="">Contact Us</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-4 d-flex align-items-center flex-column pt-4">
                <h3>1-555-555-5555</h3>
                <p class="mb-0">Monday-Friday</p>
                <p class="mb-2">8:00am - 5:00pm PST</p>
            </div>
            <div class="col-4 d-flex align-items-center flex-column pt-4">
                <h3 class="mr-5">Office</h3>
                <p class="mb-0 mr-5">55555 Somplace Ave</p>
                <p class="mb-2 mr-5">Stockton CA, 95203</p>
            </div>
            <div class="col-4">
                <div class="row py-4">
                    <span class="ui-float-label">
                        <input class="box-size-a" id="float-input" type="text" pInputText> 
                        <label for="float-input">Email</label>
                    </span>
                </div>
                <div class="row pb-5">
                    <span class="ui-float-label">
                        <textarea class="box-size-b" id="float-area" type="text" pInputTextarea></textarea>
                        <label for="float-area">summary</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="row pb-5">
            <div class="col-6">
                <img class="icon-size mx-3" src="assets/images/facebook.jpg" alt="">
                <img class="icon-size-a" src="assets/images/instagram.png" alt="">
                <img class="icon-size-a mx-4" src="assets/images/twitter.png" alt="">
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center pr-5">
                <button pButton type="button" label="Send"></button> 
            </div>
        </div>
    </div>
</div>
