.background{
    background-image: url(../../../../assets/background/Contact.jpg);
    background-size: cover;
    background-position: center center;
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
}