<!-- <p-toast [style]="{marginTop: '80px'}"></p-toast>
<div class="container-fluid">
  <div class="row ">
    <div class="col-4-md m-4" *ngFor="let item of products">
      <p-overlayPanel class="ml-0 pl-0" #op>
        <img class="panel" src={{item.img}}>
        <h5>{{item.name}}</h5>
        <p class="card-text">{{item.description}}
          <br>{{item.phone}}
          <br>{{item.price|currency}}
          <br>
          <p-rating [(ngModel)]='item.rating' [readonly]="true" [cancel]="false"></p-rating>
        </p>
        <button pButton type="button" class="ui-button-raised ui-button-rounded" label="Add to Cart"></button>
      </p-overlayPanel>
      <div class="card">
        <a (click)="op.toggle($event)">
          <img src={{item.img}} class="card-img-top" alt="product image">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{item.description}}
              <br>{{item.phone}}
              <br>{{item.price|currency}}
              <br>
              <p-rating [(ngModel)]='item.rating' [readonly]="true" [cancel]="false"></p-rating>
            </p>
          </div>
        </a>
        <div class="card-footer d-flex justify-content-center">
          <button (click)="addToCart(item)" pButton type="button" class="ui-button-raised ui-button-rounded"
            label="Add to Cart"></button>
        </div>
      </div>
    </div>
  </div>
</div> -->