<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn"><i class="fa fa-bars"></i></label>
  <label routerLink='/home' routerLinkActive="active" class="logo">KaazX</label>
  <ul class="nav">
    <li class="nav-item">
      <a (mouseenter)="op.toggle($event)">Device</a>
      <p-overlayPanel #op>
        <a *ngFor="let product of products" routerLink='/products' routerLinkActive="active" class="nav-link">
          {{product.name}}
        </a>
      </p-overlayPanel>
    </li>
    <li class="nav-item">
      <a routerLink='/contact' routerLinkActive="active" class="nav-link" >Contact</a>
    </li>
    <li>
      <a routerLink='/cart' routerLinkActive="active" ><img class="cart" src="assets/images/shopping-cart.png" alt=""></a>
    </li>
    <li>
      <app-log-in></app-log-in>
    </li>
  </ul>
</nav>