<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn"><i class="fa fa-bars"></i></label>
  <label class="logo">KaazX</label>
  <ul class="nav">
    <li class="nav-item">
      <a routerLink="" class="nav-link" >Device</a>
    </li>
    <li class="nav-item">
      <a routerLink="" class="nav-link" >Contact</a>
    </li>
    <li class="nav-item">
      <a routerLink="" class="nav-link" >About</a>
    </li>
    <li>
      <a routerLink=""><img class="cart" src="assets/images/shopping-cart.png" alt=""></a>
    </li>
    <li>
      <a routerLink=""><img class="cart" src="assets/images/loginLogo.png" alt=""></a>
    </li>
  </ul>
</nav>