<nav>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn"></label>
    <i class="fa fa-bars"></i>
  <label class="logo">KaazX</label>
  <ul class="nav">
    <li class="nav-item">
      <a href="#" class="nav-link active" >Device</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" >Contact</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link" >About</a>
    </li>
    <li>
      <a href="#"><img class="cart" src="assets/images/shopping-cart.png" alt=""></a>
    </li>
  </ul>
</nav>