*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.nav {
    background-color: rgb(34, 18, 13);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
  }
  label{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 55px;
    position: absolute;
    left: 50px;
}
li{
    font-size: 35px;
    padding: 17px;
}
li a{
    color: white;
}
.nav a:hover {
    background: #ddd;
    color: black;
    border-radius: 16px;
    transition: 1s;
  }
.pointer{
    cursor: pointer;
}
.link-font{
    font-size: 26px;
    padding: 15px;
    color: black;
}
