.iPhoneBG{
    background-image: url(../../../../assets/images/iphoneCase2.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.samsungBG{
    background-image: url(../../../../assets/images/samsungCases.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.googlePBG{
    background-image: url(../../../../assets/images/pixelCases.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
button.btn{
    width: 150px;
}