<div class="container-fluid">
    <div class="row">
        <div class="col-4 samsungBG d-flex justify-content-center align-items-end pb-5">
            <button class="btn btn-primary" routerLink='/main' routerLinkActive="active">Shop Samsung</button>
        </div>
        <div class="col-4 iPhoneBG d-flex justify-content-center align-items-start pt-5">
            <button class="btn btn-primary" routerLink='/products/iPhone'routerLinkActive="active">Shop iPhone</button>
        </div>
        <div class="col-4 googlePBG d-flex justify-content-center align-items-end pb-5">
            <button class="btn btn-primary" routerLink='/products/Google'routerLinkActive="active">Shop Google</button>
        </div>
    </div>
</div>
