<div class="container background mt-5 mb-3">
    <h1 class="d-flex justify-content-center pb-4">Shipping Info</h1>
    <div class="container">
        <div class="row py-4">
            <div class="col">
                <span class="ui-float-label">
                    <input id="float-input-card-name" type="text" size="50" pInputText> 
                    <label for="float-input-card-name">Full Name</label>
                </span>
            </div>
        </div>
        <div class="row py-4">
            <div class="col">
                <span class="ui-float-label">
                    <input id="float-input-addy" type="text" size="100" pInputText> 
                    <label for="float-input-addy">Address</label>
                </span>                
            </div>
        </div>
        <div class="row pb-4">
            <div class="col-3">
                <span class="ui-float-label">
                    <input id="float-input-city" type="text" size="30" pInputText> 
                    <label for="float-input-city">City</label>
                </span>
            </div>
            <div class="col-1">
                <span class="ui-float-label">
                    <input id="float-input-st" type="text" size="10" pInputText> 
                    <label for="float-input-st">State</label>
                </span>
            </div>
            <div class="col-3 px-5">
                <span class="ui-float-label">
                    <input id="float-input-zip" type="text" size="20" pInputText> 
                    <label for="float-input-zip">Zip</label>
                </span>
            </div>
        </div>
        <div class="row d-flex justify-content-around">
            <button pButton type="button" class="ui-button-raised ui-button-rounded" label="Back to Cart" ></button>
            <button pButton type="button" class="ui-button-raised ui-button-rounded" label="Proceed to Credit info" ></button>
        </div>
    </div>
</div>
